/* Theme */
:root {
    --color-background: #FCFCFF;
    --color-primary: #531CB3;
    --color-secondary: #8E8DBE;
    --color-accent: #98F550;
    --color-card: #222222;
    
    --color-text: #222222;
    --color-neutral: #9CA3AF;
    --color-neutral-light: #D1D5D8;

    /* other colors */
    --color-light: #FFFFFF;
    --color-dark: #000000;
    --color-warning: #F9AD50;
    --color-success: #2e9152;
    --color-success-dark: #236c3e;
    --color-danger: #b13535;
    --color-danger-dark: #892929;
}